body {
	padding: 0px;
	margin: 0px;
}

div {
	padding: 0px;
	margin: 0px;
}

.header {
	display: flex;
	flex-flow: row wrap;
	height: 100px;
	
}

.body {
	display: flex;
	flex-flow: row wrap;
}

.box {
	display: block;
	border: 1px solid black;
	margin: auto;
	height: 100%;
	flex: 1 100%;
}

.box-red{
	background-color: red;
	flex: 1 auto;
}

.box-blue{
	background-color: blue;
	flex: 4 auto;
}

.box-green{
	background-color: green;
	flex: 1 auto;
}

.box-yellow{
	background-color: yellow;
	height: 800px;
	flex: 1 auto;
}

.box-white{
	background-color: none;
	height: 800px;
	flex: 3 auto;
}

@media only screen and (max-device-width: 480px){

	.header{
		height: 50px;
	}
	.body{
		flex: 1 auto;
	}
}